<div class="container">
	<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand">Reddit Scraper</a>
		    </div> 

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      	<ul class="nav navbar-nav">
		        	<li><a href="/">Home</a></li>
		        	<li class="active"><a href="/saved">Saved Articles</a></li>
		      	</ul>
		    </div>
	  	</div>
	</nav>

	<div class="jumbotron text-center">
	  	<h1>Saved Articles</h1>
  		<p>Check out articles saved by site visitors!</p>
	</div>

	<div class="articles">
      	{{#each results}}
      		{{#if saved}}
	      	<div class="panel panel-primary">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">{{title}}</h3>
			    	<a class="btn btn-danger pull-right remove" data-id="{{_id}}">Remove Article</a>
			    	<a class="btn btn-success pull-right comments" data-id="{{_id}}">Comments</a>
			  	</div>
			  	<div class="panel-body">
			    	<a href="{{link}}">{{link}}</a>
			  	</div>
			</div>
			{{/if}}
      	{{/each}}
	</div>

	<div class="modal">
	  	<div class="modal-dialog">
	    	<div class="modal-content text-center">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title">Comments</h4>
		      	</div>
		      	<div class="modal-body" id="note">
		      		<div class="row">
					    <div class="col s12">
					      	<div class="comments">
					        <ol class="list-group">
					          	{{#each results}}
						            <div>
							            <li><p>{{note}}</p></li>
						        	</div>
					          	{{/each}}
					      	</ol>
					      </div>
					    </div>
				  	</div>
		      	</div>
		      	<div class="modal-footer">
		      		<div class="form-group">
				      	<label for="textArea" class="col-lg-2 control-label">Add A Comment</label>
					    <div class="col-lg-10">
					       	<textarea class="form-control" rows="3" id="text" style="margin: 0px 0px 25px 0px; height: 25%; width: 100%;"></textarea>
				      	</div>
				    </div>
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        	<button type="button" class="btn btn-primary submit">Submit</button>
		      	</div>
	    	</div>
	  	</div>
	</div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$(".remove").click(function(event){
			event.preventDefault();
			var send = {
				id:
				$(this).attr("data-id")
			}
			console.log("id: ", send)
			console.log("delete button clicked")

			$.ajax({
				method: "PUT",
				url: "/remove",
				data: send
			}).then(function(data){
				window.location.reload();
			});
		})

		$(".comments").click(function(event){
			event.preventDefault();
			$(".modal").modal()

			var id = $(this).attr("data-id");

			$.ajax({
				method: "GET",
				url: "/api/" + id,
				data: {
					id: id
				}
			}).then(function(response){
				console.log("console logging);
				// window.location.reload();
			});

			$(".submit").click(function(event){
				event.preventDefault();
				$("#text").val("");

				$.ajax({
					method: "POST",
					url: "/api/" + id,
					data: {
						body: $("#text").val().trim()
					}
				}).then(function(response){
					console.log("comment saved!");
					// window.location.reload();
				});
			})
		})

		// $(".submit").click(function(event){
		// 	event.preventDefault();
		// 	$("#text").val("");
		// 	var id = $(this).attr("data-id");

		// 	$.ajax({
		// 		method: "POST",
		// 		url: "/api/" + id,
		// 		data: {
		// 			body: $("#text").val().trim()
		// 		}
		// 	}).then(function(response){
		// 		console.log("comment saved!");
		// 		// window.location.reload();
		// 	});
		// })
	})
</script>
