<div class="container">
	<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand">Reddit Scraper</a>
		    </div> 

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      	<ul class="nav navbar-nav">
		        	<li><a href="/">Home</a></li>
		        	<li class="active"><a href="/saved">Saved Articles</a></li>
		      	</ul>
		    </div>
	  	</div>
	</nav>

	<div class="jumbotron text-center">
	  	<h1>Saved Articles</h1>
  		<p>Check out articles saved by site visitors!</p>
	</div>

	<div class="articles">
      	{{#each results}}
      		{{#if saved}}
	      	<div class="panel panel-primary">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">{{title}}</h3>
			    	<a class="btn btn-danger pull-right remove" data-id="{{_id}}">Remove Article</a>
			    	<a class="btn btn-success pull-right comments" data-id="{{_id}}">Comments</a>
			  	</div>
			  	<div class="panel-body">
			    	<a href="{{link}}">{{link}}</a>
			  	</div>
			</div>
			{{/if}}
      	{{/each}}
	</div>

	<div class="modal">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title">Modal title</h4>
		      	</div>
		      	<div class="modal-body">
		        	<p>One fine body…</p>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        	<button type="button" class="btn btn-primary">Save changes</button>
		      	</div>
	    	</div>
	  	</div>
	</div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$(".remove").click(function(event){
			event.preventDefault();
			var send = {
				id:
				$(this).attr("data-id")
			}
			console.log("id: ", send)
			console.log("delete button clicked")

			$.ajax({
				method: "PUT",
				url: "/remove",
				data: send
			}).then(function(data){
				window.location.reload();
			});
		})

		$(".comments").click(function(event){
			event.preventDefault();
			$(".modal").modal()
		})
	})
</script>
